.download.pdf
  if download !== 0

    a(href= href download=download)

  else

    a(href= href)

  span.download= name
  .icon
    img(src=get_template_directory_uri() + '/assets/images/pdf_cropped.png')
