.main-menu
  
  nav#full-menu-container
    - wp_nav_menu(array('name' => 'primary-menu', 'container' => false));
  
  .mobile-header-container
    
    h2.name Julian Hernandez
    
    #mobile-menu-btn
      div
      div
      div

  //- mobile menu with #menu_id
  nav#mobile-menu-container
    - wp_nav_menu(array('name' => 'primary-menu', 'container' => false, 'menu_id' => 'mobile-menu'));
