doctype html
html
  
  head
    title= wp_title
    //- Meta Tags
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Hey friend! My name is Julian Hernandez, I am full stack developer in Philadelphia. Come check out my portfolio!")
    meta(name="keywords" content="julian hernandez, full stack developer, wordpress, node.js")
    meta(charset="UTF-8")
    //- Open Graph Tags
    meta(name="og:title" content="Julian Hernandez | Full-Stack Developer")
    meta(name="og:image" content= wp_get_attachment_image_src(9, null, null)[0])
      
  body
    
      
  
  
