block content
  
  header
    
    .heading(style="background:#" + custom.background_color)
      
      .logo
        img(src=get_the_post_thumbnail_url(null, 'full'))
      
    include inc/header.pug
  
  article
    
    .container
      
      header 
      
        h1
          - the_title()
      
      .meta
        
        if custom.year_completed
          p #[span Year:] #{custom.year_completed}
        
        if custom.role
          p #[span Role:] #{custom.role}
        
        if technologies
                
          p
            
            span Technologies Used:
          
          ul.tech
            each technology in technologies            
              li= technology
      
      .the-content
        - the_content()
        
    
