/**
 * Download Button
 *

$containerHeight: 54px

.download
  border-top-left-radius: 10px
  border-bottom-left-radius: 10px
  text-align: center
  position: relative
  max-width: 355px
  margin: 20px 0
  display: flex
  align-items: center
  height: $containerHeight

  & > a
    height: 100%
    width: 100%
    z-index: 1
    position: absolute
    top: 0
    left: 0
    bottom: 0
    margin: auto

  span.download
    font-weight: 300
    display: block
    background: #EEEEEE
    font-size: 0.8em
    flex-grow: 1
    height: 100%
    line-height: $containerHeight

  .icon
    display: block
    height: 100%
    width: 54px
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    border-top-right-radius: 10px
    border-bottom-right-radius: 10px
    overflow: hidden

    img
      height: 100%
      width: 100%
